{% extends 'investimentos/base.html' %}
{% block conteudo %}

<h1 style="text-align:center;">Listagem de investimentos</h1>
<div class="container mt-4">
    
    <div class="mb-3">
        <a href="{% url 'novo_investimento' %}" style = " margin-bottom: 10px" class="btn btn-success">Registrar Investimento</a>
    </div>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Investimento</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for dado in dados %}
            <tr>
                <td>{{ dado.id }}</td>
                <td>{{ dado.investimento }}</td>
                <td>{{ dado.valores }}</td>
                <td>
                    <a href="{% url 'detalhe' dado.id %}" class="btn btn-info btn-sm">Detalhe</a>
                    <a href="{% url 'editar' dado.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'excluir' dado.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
